/* .root {
  --background-color: #090c12;
  --white: #f8f8fa;
  --bg: #090c12;
  --bg-accent: #2b2f39;
  --text-color: #f8f8fa;
  --nav-size: 60px;
  --border: 1px solid #f8f8fa;
  --border-radius: 8px;
  --speed: 500ms;
} */
