.sectionAbout {
    
    min-height: 600px;

    display: flex;

    padding: 32px 148px;
    margin: 32px 0px;

}

.container {
    display: flex;
}

.colLeft {
    flex: 1;
}

.colRight {
    flex: 1;
}

.colLeft label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #F8F8FA; }

.colLeft h1 {
    font-family: 'Roboto';
    margin-top: 0;
    font-size: 3.052rem;
    margin: 0.5rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #F8F8FA; 
  }

.colRight p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 1rem;
    color: #F8F8FA; 
  }