.sectionCard {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

.container {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    transition: 0.3s;

}


/* 
JUSTADD META CI
color-primary: #090C12;
color-secondary: #F8F8FA;
color-text: #000000;
color-accent: #FFFFFF;
color-b1b0588: #2B2F39;
color-a695d99: #03020200;
*/


.authorized {

    height: 320px;
    width: 320px;
    padding: 32px 32px;
    transition: 0.3s;
    border-width: 1px;
    box-shadow: 0 10px 20px rgb(0 31 237 / 19%), 0 6px 6px rgb(226 30 30 / 8%);
    border-style: solid;
    -o-border-image: linear-gradient(to right, transparent, #090c12b1, #f8f8fa94) 1;
    border-image: linear-gradient(to right, transparent, #090c12b1, #f8f8fa94) 1;
    /* height: 308px; */
    background: linear-gradient(113.53deg, rgba(255, 255, 255, 0.16) 0.04%, rgba(255, 255, 255, 0) 101.07%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;


}

.authorized_content h3 {
    margin: 0rem 0 1.38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 1.953rem;
    color: #F8F8FA;
    text-align: center;
}

.authorized_content p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 1rem;
    color: #F8F8FA;
    text-align: center;
}

.buttonWrapper {
    gap: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
}



.button {

    display: inline;
    background: none;
    color: #F8F8FA;;
    border-color: #F8F8FA;
    margin: 0;
    border-radius: 60px;
    transition: 0.3s;
    padding: 8px 16px 8px 16px;
    width: 100%;
    font-size: 16px;
    display: -moz-inline-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-box-align: center;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
}

  .button:hover {
    background: #F8F8FA;
    color: #090C12;
    border-color: #F8F8FA;
  }

.auth_btn2 button {
    background: rgba(248, 248, 250, 0.64);
    border: 1px solid rgba(9, 12, 18, 0.64);
}

@media only screen and (max-width: 1024px) {
    
    .container
    {
        margin-top: 0%;
    }
}

@media only screen and (max-width: 720px) {

    .container {

        padding: 0px 16px;

    }

    .authorized_content {


        margin: auto;
        width: 100%;

    }

    .auth_btn1 button,
    .auth_btn2 button {
        margin-top: 10px;
    }

}