@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap");

.footer {
    background: #000000;
    width: 100%;
    height: auto;
    margin: 32px 0px 0px 0px;
}

.footer_items {
    display: flex;
    justify-content: space-between;
    padding: 32px 148px;
}

.footer_info {
    width: 50%;
}


.footer_info p {

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    font-size: 1rem;
    color: #F8F8FA;

}

.button {
    display: inline;
    background: none;
    color: #F8F8FA;
    transition: 0.3s;
    border: solid 1px #F8F8FA;
    margin: 0;
    border-radius: 60px;
    padding: 8px 16px 8px 16px;
    width: auto;
    font-size: 16px;
    display: -moz-inline-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-box-align: center;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
}

  .button:hover {
    background: #F8F8FA;
    color: #090C12;
    border-color: #F8F8FA;
  }

.address {
    text-align: end;
    width: 50%;
}

.address h3 {
    margin: 0rem 0 1.38rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    color: #F8F8FA;
  }

.address p {
    font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #F8F8FA;
  font-size: 16px;
}


.address a {
    font-size: 16px;
}

.social_media {
    color: #F8F8FA;
    margin-top: 88px;
}

.fa-tiktok {
    padding: 0 13px;
}

.term_condition a {
    padding-left: 6vw;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F8F8FA;
}

.footer_brd {
    border-bottom: 2px solid #F8F8FA;
    width: 92%;
    margin: auto;
    padding-top: 30px;
}

.term_condition {
    text-align: center;
    padding: 16px;
    border-top: 1px solid #F8F8FA;
}

.fa-brands {
    font-size: 28px;
}

/* a:hover {
    color: #ffffff !important;
} */

@media screen and (max-width:772px) {
    .phase_content p {
        font: normal normal 700 17px/31px Roboto;
    }

    .phase {
        padding: 32px;
    }

    .content {
        width: 84%;
    }

    .summerjam_card {
        flex-direction: column;
        height: auto;
        width: 362px;
    }

    .metaverse_content {
        width: 100%;
    }

    /* footer section */
    .footer_items {
        flex-direction: column;
    }

    .address {
        text-align: left;
        width: 100%;
        margin-top: 30px;
    }

    .footer_info {
        text-align: left;
        width: 100%;
        
    }

    .social_media {
        margin-top: 38px;
        margin-left: 10px;
    }

    .footer_items {
        padding: 38px 46px 0;
    }

    .footer_btn {
        width: 275px;
        height: 43px;
    }

    .footer_brd {
        padding-top: 30px;
    }
}

/* footer media query */
@media only screen and (max-width: 769px) {
    .footer {
        height: 800px;
    }

    .footer_btn {
        width: 100%;
        height: 50px;
        color: #000000;
        margin-top: 10px;
    }

    .address p {
        margin-top: 0px;
    }
    
    .footer_info {
        border-top: 1px solid white;

    }
}