@import url('https://fonts.googleapis.com/css?family=Open+Sans:400%7CRoboto:700%27');

/* Box sizing rules 
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/

/* Set core body defaults */
body {
  /* min-height: 100vh; */
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  background-color: #000000;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* padding-bottom: 250px; */
}

/* Inherit fonts for inputs and buttons */
.input,
.button,
.textarea,
.select {
  font: inherit;
}

.root {
  --background-color: #090c12;
  --white: #f8f8fa;
  --bg: #090c12;
  --bg-accent: #2b2f39;
  --text-color: #f8f8fa;
  --nav-size: 60px;
  --border: 1px solid #f8f8fa;
  --border-radius: 8px;
  --speed: 500ms;
}

.html {
  font-size: 100%;
} /*16px*/

/* .body {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
} */

.p {
  margin-bottom: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

.h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

.h2 {
  font-size: 2.441rem;
}

.h3 {
  font-size: 1.953rem;
}

.h4 {
  font-size: 1.563rem;
}

.h5 {
  font-size: 1.25rem;
}

.small,
.text_small {
  font-size: 0.8rem;
}

.button {
  background: none;
  color: #f8f8fa;
  border-color: #f8f8fa;
  margin: 0;
  display: -moz-inline-box;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-box-align: center;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.button:hover {
  background: #f8f8fa;
  color: #090c12;
  border-color: #f8f8fa;
}
